# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital
aiohttp~=3.9
aiohttp-jinja2~=1.6
aiohttp-security~=0.5
aiohttp-session~=2.12
beautifulsoup4~=4.12
html2text~=2024.2
htmldate~=1.8
Jinja2~=3.1
lxml~=5.2
lxml_html_clean~=0.1
newspaper3k~=0.2
nltk~=3.8
pandas~=2.0
PyYAML~=6.0
requests~=2.32
scikit-learn~=1.3
stix2~=3.0
# Uncomment if using PostgreSQL and have satisfied its requirements
# psycopg2~=2.9
