/* NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital */

/*Overall styling*/
html {
  font-size: 100%;
}

body {
  min-height: 100%;
  font-family: 'Exo', sans-serif;
}

.thread-header {
  margin-left: 2rem;
  margin-top: .5rem;
}

.thread-navbar {
  background-color: #495057;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  padding-right: 1rem;
}

label, input { margin-bottom: .5rem; }

footer .footer-link {
  color: #ffffff;
}

footer .twitter-btn { float: right; }

.cookie-alert {
  text-shadow: none;
}

/*Override some bootstrap defaults*/
.jumbotron {
  padding: 0;
}
.faq {
  line-height: 2rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#hide_show {
  transform: rotate(-0deg);
  -webkit-transform: rotate(-0deg);
} 

/*Navigation and links*/
.navbar-orange {
  background-color: #c63f1d;
}
.navbar-orange > a > .nav-link {
  color: white;
}
#navbarCollapse .nav-tabs {
  border-bottom: none;
}
#navbarCollapse .nav-tabs .nav-link {
  color: white;
}
#navbarCollapse .nav-tabs .nav-link:focus,
#navbarCollapse .nav-tabs .nav-link.active {
  color: white;
  border: none;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  text-decoration: underline;
}

.nav-tabs .nav-link:hover:not(.active) {
  text-decoration: underline;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
#navbarCollapse .nav-link {
  font-size: 1rem;
  padding: .3rem 1rem;
  color: #596877;
}
.nav-link.expand-title {
  font-size: 1.1rem;
  color: black;
}
/* .nav-link.side {
    padding: .3rem .3rem;
    word-break: break-word;
} */
.nav-link.side:hover {
  background-color: #c63f1d;
  color: white;
}
.nav-link.side.active {
  background-color:#f3f3f3;
  color: #c63f1e;
  border-right: 3px solid #c63f1e;
}

.breadcrumb {
  background-color: white;
}
.heading {
  font-size: 1.6rem;
  color: #596877;
  letter-spacing: 3px;
}
.heading-dropdown {
  font-size: 1.2rem;
  color: #062f4f;
  letter-spacing: 3px;
}
.expand-all {
  background-image: url('../images/search.png');
  height: 30px;
  width: 30px;
  background-size: contain;
}
a {
  color: #4F7CAC;
}

.card-data {
  margin-bottom: 0.5rem;
  color: #555555;
}

.card-title {
  font-size: 1.1rem;
  color: #000000;
}

.external-icon {
  width: 15px;
  margin-top: -5px;
}

.expand-icon {
  font-size: 5%;
  color: #343434;
  margin-top: 7px;
}

/*colors*/
.gray-text {
  color: #99958F;
}
.bg-orange {
  /*ATT&CK Evals Green*/
  background-color: #317b22;
  background-color: #c63f1e;
  
  color: white;
}
.bg-light {
  background-color: #ffffff !important;
}
.bg-navy {
  background-color: #062f4f;
}

.bg-accord-light {
  background-color: #f8f9fa;
}

.bg-accord-dark {
  background-color: #e9ecef;
}

/*buttons*/
.btn-default {
  border-color: gray;
}

.btn-navy {
  color: #fff;
  background-color: #062f4f;
  border-color: 1px solid #062f4f;
}

.btn-navy:hover {
  color: #fff;
  background-color: #1C415F;
  background-image: none;
  border-color: 1px solid #062f4f;
}

.btn.fas {
  width: auto;
}

/*tables*/
table {
  empty-cells: hide;
}
.table-light {
  background-color: #f3f3f3;
}

/*Footer styling*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  > .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .footer-link {
    color: on-color(secondary);
    &:hover {
      /* add some link color to this so that it resembles a link,
      but is still visible if normal link color is not visible on footer color */
      color: mix(on-color(secondary), color(link));
    }
  }
}

@media only screen and (max-width: 1450px) {
  .heading-dropdown {
    font-size: 1rem;
    color: #062f4f;
    letter-spacing: 1px;
  }
  .heading {
    font-size: 1.2rem;
    color: #596877;
    letter-spacing: 3px;
  }
}

/*base.html*/

.spanBreadcrumbs-results {
  font-size: 90%;
}

/*review_doc.html*/

#content {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 100%;
  min-height: calc(0vh - 149px) !important;
}

.missingTechniquesView {
  background-color: #FFFFFF;
  border: 2px solid gray;
  position: sticky;
  right: 20px;
  top: 90px;
  margin-right: 3rem;
  height: 80vh;
  overflow: auto;
  padding: 10px;
}

select#missingTechniqueSelect ~ div.dropdown-menu {
  width: 100%;
}

.report_view {
  margin-right:100px;
  margin-left:100px;
}

.sticky {
  height: 100%;
  position: sticky;
  top: 10px;
}

.card.draggable {
  margin-bottom: 2rem;
  cursor: grab;
}

.droppable {
  background-color: var(--success);
  min-height: 150px;
  margin-bottom: 5rem;
}

/* index.html */

.help-tooltip {
  cursor: help;
}

.report-action, .dropdown-item {
  cursor: pointer;
}

.card {
  border-color: inherit;
}

.report-card {
  margin-top: .5rem;
}

.accordion-button.bg-dark {
  --bs-bg-opacity: .4;
}

div#submitReportForm .nav-link:not(.active), #confirmedSentenceInfo, #tableSentenceInfo {
  color: white;
}

/* Use this class for anchor elements with tooltips rather than .disabled */
.report-disable {
  cursor: not-allowed !important;
}

input[type="checkbox"].report-submission-checkbox {
  margin: 0.2rem;
  margin-top: 0.3rem;
}

input[type="checkbox"].confirmed-technique {
  margin-bottom: 0.9rem;
}

#submitTabForms form {
  margin-top: 1rem;
}

.submissionHelpAlert {
  max-width: 40rem;
}

/* Text pages */

.threadTextPage {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.emailContent {
  font-style: italic;
}

/* columns.html */

#reportDatesForm input:not([type="checkbox"]) {
  margin-top: 0.5rem;
}

#dateRangeLabel {
  margin-bottom: unset; /* unset from label, input { margin-bottom: .5rem; } styling */
}

.reportSentencesDiv {
  border-style: groove;
  margin-left: 3rem;
  padding-top: 10px;
  word-break: break-word;
}

.reportImage {
  cursor: pointer;
  display: block;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.report-sentence, .sentence-link, input[type="checkbox"], input[type="checkbox"]+label {
  cursor: pointer;
}

.report-sentence {
  scroll-margin-top: 10em;
}

.sentence-link {
  text-decoration: underline;
}

.highlight-sentence {
  background-color: #66666e;
}

.report-sentence:hover {
  background-color: #8b8a9c;
}

.report-sentence-clicked {
  border: solid;
}

.imgHighlight {
  border: 25px solid #ffc107;
}

.btn:disabled {
  cursor: not-allowed;
}

table#confirmedSentenceInfo td {
  border-bottom: none;
}

#reportInfoAccordion {
  margin: 3rem;
  margin-left: 2.3rem;
}

.missingTechOpt {
  overflow: auto;
}

.list-delta {
  padding-right: 0.2rem;
  cursor: help;
}

.ioc-box {
  margin: 1rem;
  margin-left: unset;
}

.bs-actionsbox .bs-select-all {
  display: none !important;
}
