{# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital #}

{% extends 'base.html' %}
{% block content %}

<div id="aboutInfo">

<p>
  Thread is a tool for analysts to map finished reports and articles to <a href="https://attack.mitre.org" target="_blank">MITRE ATT&CK®</a>. If you are running Thread via our Arachne website, your reports will be visible to others. You can view our GitHub repo to download this version of Thread, set it up, and use it locally to ensure all your reports stay only on your machine.
</p>

<h3>Submitting a Report</h3>
<p>
On Thread's homepage, enter a web page URL (sorry no PDFs yet) to process it and begin a report based on it. It takes a few minutes to analyse a URL, this is dependent on the amount of text found from the URL. You are advised to periodically check if your submission is still in the queue.
</p>

<p>
If you see an error in the queue, this means the website did not like us trying to scrape it, or something on the site could not be parsed. We will periodically check for these errors and work on improvements to the submission process.
</p>

<p>
  When the URL has been processed and its report is ready, a new card will appear (in the <b>Needs Review</b> column). Each card will have two buttons:
  <ul style="list-style-type:none;">
    <li><b>Source</b>: this links back to original URL where the report originated from</li>
    <li><b>Analyse</b>: this button links to the Thread-analysed report </li>
  </ul>
  You will also have the option to delete reports that 1. are not in the queue or 2. those in the queue that have an error.
</p>

<h3>Analysing a Report</h3>

<p>
  Thread's prediction model will try its best to find ATT&CK techniques in the report, but since our current data set is very limited, our models are not 100% accurate, so the tool requires you to review and refine the technique prediction.
</p>
<p>
  When you click on a sentence in the report, you can do the following:
  <ul style="list-style-type:none;">
    <li><b>Accept</b> a technique: the correct technique is in the selected sentence. That sentence and technique will be considered a <b>true positive</b> (if this is not a missing technique you have introduced).</li>
    <li><b>Reject</b> a technique: the technique is not in the selected sentence. That sentence and technique will be considered a <b>false positive</b> (again, if this is not a missing technique you have introduced).</li>
    <li><b>Add a Missing Technique</b>: allows you to manually add any techniques that were missed in the selected sentence. Select the missing technique from the provided searchable-dropdown. You can repeat this for numerous missing techniques. When one is added, this is considered a <b>false negative</b> (if this is not a technique you initially rejected).</li>
  </ul>
  As more data is fed to the tool and is reviewed, any rebuilt models are expected to become more accurate with these predictions.
</p>

<p>
  If you have made changes you are not happy with and cannot undo easily (e.g. deleted a sentence), you can rollback a report via the homepage (found in the <b>In Review</b> column).
</p>

<h3>Exporting a Report</h3>
<p>
  Once you have reviewed the entire report, Thread’s results can be exported as a PDF by clicking the <b>Export PDF</b> button on the top centre of the page. This will create a PDF containing a raw text version of the report, and a table with the ATT&CK technique and its corresponding sentence. This can be done for all reports out of the queue but those not in the <b>Completed</b> column will be considered draft reports.
</p>
<br>

<h3>Contact Us</h3>
<p>
  You can contact us by emailing us at contact[at]arachne[dot]digital.
</p>
<p>
  If you have found <b>any security issues</b> with Thread, we ask that you <b>please contact us directly</b> (so we can work on it without it being discovered and exploited). We will be transparent about any security issues in our documentation.
</p>
<p>
  If you have found any other bugs with Thread, please feel free to contact us or raise an issue in our GitHub repo.
</p>
<p>
  If you have any questions or comments about Thread, please feel free to contact us via the email address above.
</p>

</div>

{% endblock %}
