{# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital #}

{% extends 'base.html' %}
{% block content %}

<div id="aboutInfo">

<p>
  THREAD is a tool for analysts to map finished reports and articles to <a href="https://attack.mitre.org" target="_blank">MITRE ATT&CK®</a>. If you are running THREAD via our Arachne website, your reports will be visible to others. You can view our GitHub repo to download this version of THREAD, set it up, and use locally to ensure all your reports stay only on your machine.
</p>

<h3>Submitting a Report</h3>
<p>
On THREAD's homepage, enter a web page URL (sorry no PDFs yet) to a report to be processed. It takes a few minutes to analyse a report, so please do not leave the page while it processes.
</p>

<p>
Note: If you see an error in the queue, this means the website did not like us trying to scrape it, or something on the site could not be parsed. We are looking into this issue and hope to have a fix soon.
</p>

<p>
  When the report is ready, a new card will appear. Each card will have two buttons:
  <ul style="list-style-type:none;">
    <li><b>Source</b>: this links back to original URL where the report originated from</li>
    <li><b>Analyse</b>: this button links to the THREAD-analysed report </li>
  </ul>
</p>

<h3>Analyzing a Report</h3>

<p>
  THREAD's prediction model will try its best to find ATT&CK techniques in the report, but since our current data set is very limited, our models are not 100% accurate, so the tool requires an analyst to review and refine the technique prediction.
</p>
<p>
  <ul style="list-style-type:none;">
    <li><b>Accepting</b> a technique means the correct technique is in the selected highlighted sentence. That sentence and technique will go to the <b>"True Positives"</b> table in the database (if this is not a missing technique you have introduced).</li>
    <li><b>Rejecting</b> a technique means the technique is not in the highlighted sentence. That sentence and technique goes to the <b>"False Positives"</b> table in the database (again, if this is not a missing technique you have introduced).</li>
    <li><b>Add a Missing Technique</b> allows users to manually add any techniques that were missed in highlighted or un-highlighted sentences. Click the grey button and start typing in the technique you want to map, and click it when it appears. When a missing technique is added, it will be put in the <b>"False Negatives"</b> table of the database (if this is not a technique you initially rejected).</li>
  </ul>
  The new data and corresponding tables can then be used to rebuild the models. As more data is fed to the tool and is analyst-reviewed, the rebuilt models are expected to become more accurate with these predictions.
</p>

<h3>Exporting a Report</h3>
<p>
  Once an analyst has reviewed the entire report, THREAD’s results can now be exported as a PDF by clicking the <b>“Export PDF”</b> button on the top centre of the page. Exporting will create a PDF containing a raw text version of the report, and a table with the ATT&CK technique and its corresponding sentence.
</p>
<br>

<h3>Contact Us</h3>
<p>
  You can contact us directly <a href="/contact">here</a>.
</p>
<p>
  If you have found <b>any security issues</b> with THREAD, we ask that you <b>please contact us directly</b> (so we can work on it without it being discovered and exploited). We will be transparent about any security issues in our documentation.
</p>
<p>
  If you have found any other bugs with THREAD, please feel free to contact us or raise an issue in our GitHub repo.
</p>
<p>
  If you have any questions or comments about THREAD, please feel free to contact us via the link above.
</p>

</div>

{% endblock %}
