{# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital #}

{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% if js_src_online %}{# Edit-report page is the only page which uses pdfmake so import here #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js" integrity="sha512-7BzHjLXs8xehClrkJEtJtAwXxcbLast87k+XekuItHxrMr/v6POWkoKS2/8CU6DHdIjY+A4NwvsBQ8PxoRH7xQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% else %}
  <script src="{{static_url}}scripts/pdfmake.min.js"></script>
  <script src="{{static_url}}scripts/vfs_fonts.js"></script>
{% endif %}
<script id="arachneVfsJson" data-json-path="{{static_url}}misc/arachne_vfs.json"></script>
<script id="reportDetails" data-completed="{{completed}}"></script>
{% endblock %}

{% block content %}

{% if private_help_text %}{# Add help-text if given #}
  <div class="p-3 px-5">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
      <i class="pe-3 fa-solid fa-lock"></i>
      <div>{{private_help_text}}</div>
    </div>
  </div>
{% endif %}
{% if completed_help_text %}
  <div class="p-3 px-5">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
      <i class="pe-3 fas fa-info-circle"></i>
      <div>{{completed_help_text|safe}}</div>
    </div>
  </div>
{% endif %}
{% if sentence_limit_helptext %}
  <div class="p-3 px-5">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
      <i class="pe-3 fa-solid fa-layer-group"></i>
      <div>{{sentence_limit_helptext}}</div>
    </div>
  </div>
{% endif %}

<h3 class="display-4 text-center">{{ file }}</h3>

<div class="row justify-content-center pb-3">
  <div class="col-md-auto">
    <button onclick="$.getJSON('{{pdf_link}}', (x) => {downloadPDF(x);})" class="btn btn-primary">Export PDF</button>
  </div>
  <div class="col-md-auto">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export Navigator JSON</button>
    <div class="dropdown-menu bg-dark" id="dropdownMenu" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header">Enterprise Layer</h6>
      <a class="dropdown-item text-white" onclick="$.getJSON('{{nav_link}}', (x) => {downloadLayer(x);})">download</a>
    </div>
  </div>
</div>

{% include "report-data.html" %}

<div class="row">
  <div class="col reportSentencesDiv">
    {% for elmt in final_html %}
      {% if elmt.tag == 'img' %}
        <img src="{{elmt.text}}" id="img{{elmt.uid}}" class="reportImage" onclick="sentenceContext('{{elmt.uid}}')">
      {% else %}
        {% if elmt.tag == 'li' %}<li class="elmtRelated{{elmt.uid}}">{% endif %}
        {% if elmt.tag == 'header' %}<h3 class="elmtRelated{{elmt.uid}}">{% endif %}
        <i id="ioc-icon-{{elmt.uid}}" class="fas fa-shield-alt" title="Indicator of Compromise" {% if not elmt.is_ioc %}style="display: none;"{% endif %}></i>
        <span class="report-sentence {% if elmt.found_status %}highlight-sentence{% endif %}"
          id="elmt{{elmt.uid}}"
          data-ioc="{% if elmt.is_ioc %}true{% else %}false{% endif %}"
          onclick="sentenceContext('{{elmt.uid}}')"
        >
          {{elmt.text}}
        </span>
        {% if elmt.tag == 'header' %}</h3>{% endif %}
        {% if elmt.tag == 'li' %}</li>{% endif %}
      {% endif %}
      <br class="elmtRelated{{elmt.uid}}">{# Initial space to separate sentences #}
      {% if elmt.tag != 'li' and elmt.tag != 'header' %}{# Non-li's and non-headers need extra spacing #}
        <br class="elmtRelated{{elmt.uid}}">
      {% endif %}
    {% endfor %}
  </div>
  <div class="col col-sm-4 ">
    <div class="missingTechniquesView bg-dark" id="sentenceContextSection">
      {% if not completed %}{# Incomplete reports: list techniques user still needs to review #}
        <span class='spanAwaitingTechniqueView'><b>Techniques Awaiting Confirmation</b></span>
        <br><br>
        <span id="techsNoMoreConfNote" {% if unchecked|length > 0 %}hidden{% endif %}>None awaiting review.</span>
        <ul id="outstandingTechsList">
          {% for sen_key in unchecked %}
            <li id="outstanding-sen-{{sen_key}}">
              <span class="link-primary sentence-link" onclick="scrollAndSelectSentence('{{sen_key}}')">Sentence</span>
              {% for sen_tech in unchecked[sen_key] %}
                <a id="outstanding-tech-{{sen_key}}-{{sen_tech['attack_uid']}}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="{{sen_tech['attack_tid']}}">
                  <span class="fa-solid fa-flag glyphicon glyphicon-flag help-tooltip"></span>
                </a>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
        <hr>{# Incomplete reports: display 'Techniques Found' panel to approve/reject attacks #}
        <span class='spanMissingTechniqueView'><b>Techniques Found</b></span>
        <br><br>
        <div id="sentenceInformation">
          <table id="tableSentenceInfo" class="table"><tbody></tbody></table>
        </div>
      {% endif %}
      <span class='spanMissingTechniqueView'><b>Confirmed Techniques</b></span>
      <br>
      <div id="confirmedsentenceInformation">
        <table id="confirmedSentenceInfo" class="table"><tbody></tbody></table>
      </div>
      {% if not completed %}
        <form id="ttpDatesForm" hidden>{# Date of TTP mapping #}
          <div class="row">
            <label for="ttpStartDate" class="col-sm-4 col-form-label">Tech. Start Date:</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="ttpStartDate" required>
            </div>
          </div>
          <div class="row">
            <label for="ttpEndDate" class="col-sm-4 col-form-label">Tech. End Date:</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="ttpEndDate">
            </div>
          </div>
          <br>
          <button type="button" onclick="updateAttackTime('{{title_quoted}}')" class="btn btn-primary">Update Technique Dates</button>
        </form>
        <hr>
      {% endif %}
      <small>Any techniques listed with <b>!</b> are deprecated or revoked from the MITRE ATT&CK® framework.</small>
      <hr>
      {% if not completed %}{# Incomplete reports: display option to add missing attacks; delete sentences; and complete report #}
        <span><b>Add A Missing Technique</b></span>
        <br><br>
        <select id="missingTechniqueSelect" class="selectpicker" data-show-subtext="true" data-size="5"
                data-live-search="true" data-width="100%" title="Select a technique" required>
          {% for tech in attack_uids %}
            {% if tech.parent_name %}
              <option class="missingTechOpt" value="{{tech.uid}}" data-subtext="{{tech.name}}">{{tech.parent_name}}</option>
            {% else %}
              <option class="missingTechOpt" value="{{tech.uid}}">{{tech.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br><br>
        <button disabled id="missingTechBtn" onclick="addMissingTechnique()" class="btn btn-primary">Add Technique</button>
        <hr>
      {% endif %}
      <span><i class="fas fa-shield-alt"></i>&nbsp;<b>Indicator of Compromise (IoC)</b></span> <br><br>
      <span><b>Warning</b>: Please refrain from interacting with IoCs. Thread does not advocate for any
        groups/activities suggested from sentence-IoC text.
      </span> <br><br>
      <span>Saved As:</span>
      <textarea id="iocSavedBox" class="ioc-box form-control" rows="2" cols="50" required {% if completed %}readonly{% endif %}></textarea>
      {% if not completed %}
        <button disabled id="iocSuggestSaveBtn" onclick="suggestSaveIoC()" class="btn btn-primary me-2">Suggest-&-Save IoC</button>
        <button disabled id="iocUpdateBtn" onclick="addIoC(updating=true)" class="btn btn-primary me-2">Update IoC Text</button>
        <button disabled id="iocSwitch" onclick="toggleIoc()" class="btn btn-primary">Toggle as IoC</button> <br><br>
        <span>Sentence-IoC Suggestion</span>
        <textarea id="iocSuggestionBox" class="ioc-box form-control" rows="2" cols="50"></textarea>
        <button disabled id="iocSuggestionBtn" onclick="suggestIoC()" class="btn btn-primary">Suggest Sentence-IoC</button>
        <hr>
        <button disabled id="delSenBtn" onclick="remove_sentence()" class="btn btn-danger">Remove Selected</button> <br><br>
        <button onclick="finish_analysis('{{title_quoted}}')" class="btn btn-success">Finish Analysis</button> <br><br>
      {% endif %}
    </div>
    <br><br>
    <br><br>
  </div>
</div>
{% endblock %}
