{# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital #}

{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% if js_src_online %}{# Edit-report page is the only page which uses pdfmake so import here #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js" integrity="sha512-vCaf5rysVLu1/zVMefJew+IjqlQibggltPWqeo96XsdyJ4ihR3eEDV1oU60afiRXTGf8DqKUjLs2Q99HCbnjAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.min.js" integrity="sha512-BDZ+kFMtxV2ljEa7OWUu0wuay/PAsJ2yeRsBegaSgdUhqIno33xmD9v3m+a2M3Bdn5xbtJtsJ9sSULmNBjCgYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% else %}
  <script src="{{static_url}}scripts/pdfmake.min.js"></script>
  <script src="{{static_url}}scripts/vfs_fonts.js"></script>
{% endif %}
<script id="arachneVfsJson" data-json-path="{{static_url}}misc/arachne_vfs.json"></script>
{% endblock %}

{% block content %}
<br>
<h3 class="display-4 text-center">{{ file }}</h3>

<div class="row justify-content-center pb-3">
  <div class="col-md-auto">
    <button onclick="$.getJSON('{{pdf_link}}', (x) => {downloadPDF(x);})" class="btn btn-md btn-outline-secondary">Export PDF</button>
  </div>
  <div class="col-md-auto">
    <button class="btn btn-md btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export Navigator JSON</button>
    <div class="dropdown-menu bg-dark" id="dropdownMenu" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header">Enterprise Layer</h6>
      <a class="dropdown-item text-white" onclick="$.getJSON('{{nav_link}}', (x) => {downloadLayer(x);})">download</a>
    </div>
  </div>
</div>

<form id="reportDatesForm">
  <div class="row">
    <label for="dateOf" class="col-sm-2 col-form-label">Article Publication Date:</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="dateOf" value={{date_written}} required>
    </div>
  </div>
  <br>
  <span><b>Techniques Discussed</b></span>
  <br><br>
  <div class="row">
    <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="startDate" value={{start_date}}>
    </div>
  </div>
  <div class="row">
    <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="endDate" value={{end_date}}>
    </div>
  </div>
  <br>
  <button type="button" onclick="update_report_dates('{{title_quoted}}')" class="btn btn-md btn-outline-secondary">Update Report Dates</button>
</form>

<div class="row">
  <div class="col reportSentencesDiv">
    {% for elmt in final_html %}
      {% if elmt.tag == 'img' %}
        <img src="{{elmt.text}}" id="img{{elmt.uid}}" class="reportImage" onclick="sentenceContext('{{elmt.uid}}')">
      {% else %}
        {% if elmt.tag == 'li' %}<li class="elmtRelated{{elmt.uid}}">{% endif %}
        {% if elmt.tag == 'header' %}<h3 class="elmtRelated{{elmt.uid}}">{% endif %}
        <span class="report-sentence {% if elmt.found_status %}highlight-sentence{% endif %}" id="elmt{{elmt.uid}}" onclick="sentenceContext('{{elmt.uid}}')">
          {{elmt.text}}
        </span>
        {% if elmt.tag == 'header' %}</h3>{% endif %}
        {% if elmt.tag == 'li' %}</li>{% endif %}
      {% endif %}
      <br class="elmtRelated{{elmt.uid}}">{# Initial space to separate sentences #}
      {% if elmt.tag != 'li' and elmt.tag != 'header' %}{# Non-li's and non-headers need extra spacing #}
        <br class="elmtRelated{{elmt.uid}}">
      {% endif %}
    {% endfor %}
  </div>
  <div class="col col-sm-4 ">
    <div class="missingTechniquesView bg-dark" id="sentenceContextSection">
      {% if help_text %}{# Add any help-text to the side-panel of the report (so it is always visible) #}
        <span><b>{{help_text}}</b></span><hr>
      {% endif %}
      {% if completed %}{# Completed reports: display message on what user can still do #}
        <span>
          This is a <b>completed</b> report. You can still click on the sentences to view confirmed techniques.
          You can also click the <b>Export PDF</b> button to generate a PDF of this completed report.
        </span>
        <hr>
          {% if not is_local %}{# Notice about expiry-date #}
            <span><b>Completed reports will expire 24 hours after completion.</b></span>
            <hr>
          {% endif %}
      {% else %}{# Incomplete reports: display 'Techniques Found' panel to approve/reject attacks #}
        <span class='spanMissingTechniqueView'><b>Techniques Found</b></span>
        <br><br>
        <div id="sentenceInformation">
          <table id="tableSentenceInfo" class="table"><tbody></tbody></table>
        </div>
      {% endif %}
      <span class='spanMissingTechniqueView'><b>Confirmed Techniques</b></span>
      <br><br>
      <div id="confirmedsentenceInformation">
        <table id="confirmedSentenceInfo" class="table"><tbody></tbody></table>
      </div>
      <small>Any techniques listed with <b>!</b> are deprecated or revoked from the MITRE ATT&CK® framework.</small>
      <hr>
      {% if completed == 0 %}{# Incomplete reports: display option to add missing attacks; delete sentences; and complete report #}
        <span class='spanAddMissingTechnique'><b>Add A Missing Technique</b></span>
        <br><br>
        <select id="missingTechniqueSelect" class="selectpicker" data-show-subtext="true" data-size="5"
                data-live-search="true" data-width="100%" title="Select a technique">
          {% for tech in attack_uids %}
            {% if tech.parent_name %}
              <option class="missingTechOpt" style="overflow: auto" value="{{tech.uid}}"
                      data-subtext="{{tech.name}}">{{tech.parent_name}}</option>
            {% else %}
              <option class="missingTechOpt" style="overflow: auto" value="{{tech.uid}}">{{tech.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br><br>
        <button disabled id="missingTechBtn" onclick="addMissingTechnique()" class="btn btn-md btn-primary">Add Technique</button> <br><br>
        <button disabled id="delSenBtn" onclick="remove_sentence()" class="btn btn-md btn-danger">Remove Selected</button> <br><br>
        <button onclick="finish_analysis('{{title_quoted}}')" class="btn btn-md btn-success">Finish Analysis</button> <br><br>
      {% endif %}
    </div>
    <br><br>
    <br><br>
  </div>
</div>
{% endblock %}
