{# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital #}

{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% if not is_local %}{# Display 'Viewing: username or Public' #}
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div>
            <h6>
              <span><b>Viewing: {% if username %}{{username}}{% else %}Public{% endif %}</b></span>
            </h6>
            {% if token %}{# If we have a token, display a button to exit user's view and switch to Public view #}
              <button type="button" onclick='myReportsExit()' class="btn btn-primary">Exit to Public View</button>
            {% else %}{# If there is no token, display a form to input to a token #}
              <form>
                <label for="token">My Thread Token</label>
                <input type="text" class="form-control" id="token" required>
                <small>View <a href="https://arachne.digital/account/profile/" target="_blank">your Arachne profile</a> to obtain your Thread token.</small>
                <br>
                <button type="button" onclick='myReports()' class="btn btn-primary">View My Reports</button>
              </form>
            {% endif %}
          </div>
        </nav>
      {% endif %}
      <main role="main" class="ml-sm-auto px-4 {% if not is_local %}col-md-9 col-lg-10{% endif %}">
        {% include "submission-form.html" %}{# Add report-submission forms #}
        <div class="row flex-row flex-sm-nowrap py-3">
          {% for key, value in reports_by_status.items() %}{# Loop through each report status #}
            <div class="col">
              <div class="card bg-light status-column">
                <div id={{key}} class="card-body">
                  <h6 class="card-title text-uppercase text-truncate py-2">{{value.display_name}}</h6>{# Header for status #}
                  <div class="items border border-light">
                    {% for report in value.reports %}{# Display the reports in a column for this status #}
                      <div class="card shadow-sm" id="{{key}}-{{report.title_quoted}}">
                        <div class="card-body">
                          {% if report.error %}{# Display error icon if applicable #}
                            <a data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{% if value.error_msg %}{{value.error_msg}}{% else %}Error{% endif %}">
                              <span class="fas fa-exclamation glyphicon glyphicon-exclamation-sign error-icon"></span>
                            </a>
                          {% endif %}
                          {% if value.allow_delete or report.error %}{# Display button to delete report if allowed #}
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Delete this report."
                               onclick="deleteReport('{{report.title_quoted}}')">
                               <span class="fas fa-trash-alt glyphicon glyphicon-trash btn-sm btn-outline-danger float-right report-action"></span>
                            </a>
                          {% endif %}
                          {% if value.allow_rollback %}{# Display button to rollback report if allowed #}
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Rollback report to NEEDS REVIEW."
                               onclick="rollbackReport('{{report.title_quoted}}')">
                               <span class="fas fa-undo-alt glyphicon glyphicon-refresh btn-sm float-right report-action"></span>
                            </a>
                          {% endif %}
                          <p>
                          <p class="card-text">{{report.title}}</p>{# Display the report title #}
                          <a href="{{report.url}}" target="_blank" class="btn btn-sm btn-outline-secondary">Source</a>{# All reports have a source URL #}
                          {% if value.analysis_button %}{# Display analyse button if applicable #}
                            <a href="{{report.link}}" class="btn btn-sm btn-outline-secondary">{{value.analysis_button}}</a>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                    {% if value.column_info %}
                      <small>{{value.column_info}}</small>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </div>
{% endblock %}
