{# NOTICE: As required by the Apache License v2.0, this notice is to state this file has been modified by Arachne Digital #}

{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active show">
              {% if not is_local %}
                <div>
                  <h6>
                    <span><b>Viewing: Public</b></span>
                  </h6>
                  <form>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" required>
                    <small>View <a href="/account/profile/" target="_blank">your Arachne profile</a> to obtain your Thread password.</small>
                    <button type="submit" onclick='myReports()' class="btn btn-primary">View My Reports</button>
                  </form>
                </div>
                <hr>
              {% endif %}
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                <span><b>Enter New Report</b></span>
              </h6>
              <div class="card-body divOperationalFlow-tacticsummary">
                <form>
                  <div class="form-group">
                    <label for="url">Insert URL</label>
                    <input type="url" class="form-control" id="url" onblur="prefixHttp(this)" placeholder="Enter URL(s) (comma separated)" required>
                  </div>
                  <div class="form-group">
                    <label for="title">Insert Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter the article title(s) (comma separated)" required>
                  </div>
                  <button type="submit" onclick='submit_report()' class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
            <hr>
            <form class="md-form">
              <div class="file-field">
                <a class="btn-floating peach-gradient mt-0 float-left">
                  <i class="fas fa-paperclip" aria-hidden="true"></i>
                  <input type="file" id="csv_file" accept=".csv">
                </a>
                <div class="file-path-wrapper">
                  <button type="submit" onclick="upload_file()" class="btn btn-primary">Upload csv file</button>
                </div>
                {% if queue_set %}
                  <hr>
                  <small>Any reports which exceed the Queue limit will be dropped</small>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="row flex-row flex-sm-nowrap py-3">
          {% for key, value in reports_by_status.items() %}
            <div class="col">
              <div class="card bg-light status-column">
                <div id={{key}} class="card-body">
                  <h6 class="card-title text-uppercase text-truncate py-2">{{value.display_name}}</h6>
                  <div class="items border border-light">
                    {% for report in value.reports %}
                      <div class="card shadow-sm" id="{{key}}-{{report.title_quoted}}">
                        <div class="card-body">
                          {% if report.error %}
                            <a data-toggle="tooltip" data-bs-toggle="tooltip" data-placement="top" data-bs-placement="top"
                               title="Sorry, the contents of this report could not be retrieved.">
                              <span class="fas fa-exclamation glyphicon glyphicon-exclamation-sign error-icon"></span>
                            </a>
                          {% endif %}
                          {% if value.allow_delete or report.error %}
                            <a onclick="deleteReport('{{report.title_quoted}}')" class="fas fa-trash-alt glyphicon glyphicon-trash btn-sm btn-outline-danger float-right"></a>
                          {% endif %}
                          <p>
                          <p class="card-text">{{report.title}}</p>
                          <a href="{{report.url}}" class="btn btn-sm btn-outline-secondary">Source</a>
                          {% if value.analysis_button %}
                            <a href="{{report.link}}" class="btn btn-sm btn-outline-secondary">{{value.analysis_button}}</a>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                    {% if value.column_info %}
                      <small>{{value.column_info}}</small>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </div>
{% endblock %}
