{% with %}
  {% if assoc_type == "aggressor" %}
    {% set assoc_label = "Aggressors" %}
    {% set db_group_list = aggressor_groups %}
    {% set db_region_list = aggressor_regions %}
    {% set db_country_list = aggressor_countries %}
    {% set allow_select_all = false %}
    {% set onchangeGroup = "onchangeAggressorGroups" %}
    {% set onchangeRegion = "onchangeAggressorRegions" %}
    {% set onchangeCountry = "onchangeAggressorCountries" %}
  {% else %}
    {% set assoc_label = "Victims" %}
    {% set db_region_list = victim_regions %}
    {% set db_country_list = victim_countries %}
    {% set allow_select_all = true %}
    {% set categories_select_all = vic_cat_all %}
    {% set countries_select_all = vic_countries_all %}
    {% set onchangeRegion = "onchangeVictimRegions" %}
    {% set onchangeCountry = "onchangeVictimCountries" %}
  {% endif %}
  <div class="row">
    <label class="col-sm-3 col-form-label"><b>{{assoc_label}}:</b></label>
    <div class="col-sm-3">
      {% if assoc_type == "aggressor" %}
        <select id="{{assoc_type}}GroupSelect" class="selectpicker" data-size="5" data-live-search="true" data-width="100%"
                title="Select groups" multiple data-actions-box="true" data-selected-text-format="count" required {% if completed %}disabled{% endif %}
                onchange="{{onchangeGroup}}(this)">
          {% for group_name in group_list %}
            <option class="{{assoc_type}}GroupOpt" value="{{group_name}}" {% if group_name in db_group_list %}selected{% endif %}>{{group_name}}</option>
          {% endfor %}
        </select>
      {% else %}
        <select id="{{assoc_type}}CategorySelect" class="selectpicker" data-size="5" data-live-search="true" data-width="100%"
                title="Select categories" multiple data-actions-box="true" data-selected-text-format="count" required {% if completed %}disabled{% endif %}
                onchange="onchangeReportCategories(this)">
          {% for category_entry in category_list %}
            <option class="categoryOpt" value="{{category_entry.keyname}}" {% if category_entry.keyname in categories %}selected{% endif %}>{{category_entry.display_name}}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>
    <div class="col-sm-3">
      <select id="{{assoc_type}}RegionSelect" class="selectpicker" data-size="5" data-live-search="true" data-width="100%"
              title="Select regions/political blocs" multiple data-actions-box="true" data-selected-text-format="count" {% if completed %}disabled{% endif %}
              onchange="{{onchangeRegion}}(this)">
          {% for region_key in region_list %}
            <option class="{{assoc_type}}RegionOpt" value="{{region_key}}" {% if region_key in db_region_list %}selected{% endif %}>
              {{region_list[region_key]}}
            </option>
          {% endfor %}
      </select>
    </div>
    <div class="col-sm-3">
      <select id="{{assoc_type}}CountrySelect" class="selectpicker" data-size="5" data-live-search="true" data-width="100%"
              title="Select countries" multiple data-actions-box="true" data-selected-text-format="count" required {% if completed %}disabled{% endif %}
              onchange="{{onchangeCountry}}(this)">
        {% for country_key in country_list %}
          <option class="{{assoc_type}}CountryOpt" value="{{country_key}}" {% if country_key in db_country_list %}selected{% endif %}>
            {{country_list[country_key]}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row pt-2">{# Display the list of selected groups and countries #}
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      {% if assoc_type == "aggressor" %}
        <ul id="{{assoc_type}}CurrentGroupList">
          {% for saved_group in db_group_list %}
            <li class="{{assoc_type}}GroupLi" id="{{saved_group}}">{{saved_group}}</li>
          {% endfor %}
        </ul>
      {% else %}
        <ul id="currentCategoryList">{# Display the list of categories outside the select-box in case list is long #}
          {% for report_category in categories %}
            <li class="reportCategoryLi" id="{{report_category}}">{{categories[report_category]['display_name']}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="col-sm-3">
      <ul id="{{assoc_type}}CurrentRegionList">
        {% for saved_region in db_region_list %}
          <li class="{{assoc_type}}RegionLi" id="{{saved_region}}">{{region_list[saved_region]}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-3">
      <ul id="{{assoc_type}}CurrentCountryList">
        {% for saved_country in db_country_list %}
          <li class="{{assoc_type}}CountryLi" id="{{saved_country}}">{{country_list[saved_country]}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if allow_select_all %}{# Give option to select all #}
    <div class="row pt-2">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <input type="checkbox" id="{{assoc_type}}CategorySelAll" onchange="onchangeSelectAllKeywords(this, '{{assoc_type}}', 'Category')"
               {% if categories_select_all %}checked{% endif %} {% if completed %}disabled{% endif %}>
        <label for="{{assoc_type}}CategorySelAll"><small>{{assoc_label}} &gt; Categories &gt; Select all?</small></label>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <input type="checkbox" id="{{assoc_type}}CountrySelAll" onchange="onchangeSelectAllKeywords(this, '{{assoc_type}}', 'Country')"
               {% if countries_select_all %}checked{% endif %} {% if completed %}disabled{% endif %}>
        <label for="{{assoc_type}}CountrySelAll"><small>{{assoc_label}} &gt; Countries &gt; Select all?</small></label>
      </div>
    </div>
  {% endif %}
{% endwith %}
