<div class="accordion" id="reportInfoAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="reportInfoHeader">
      <button class="accordion-button collapsed bg-dark" type="button" data-bs-toggle="collapse"
              data-bs-target="#reportInfoForm" aria-expanded="false" aria-controls="reportInfoForm">
        <b>Report Information</b>
      </button>
    </h2>
    <div id="reportInfoForm" class="accordion-collapse collapse bg-dark" aria-labelledby="reportInfoHeader"
         data-bs-parent="#reportInfoAccordion">
      <div class="accordion-body text-white">
        <form id="reportDatesForm">{# Report date fields #}
          <div class="row">
            <label for="dateOf" class="col-sm-4 col-form-label"><b>Article Publication Date:</b></label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="dateOf" value="{{date_written}}" required {% if completed %}readonly{% endif %}>
            </div>
          </div>
          <br>
          <span><b>Confirmed Techniques</b></span>
          <br><small>You can set Start/End dates for individual confirmed techniques after selecting a sentence.</small>
          <br><br>
          <div class="row">
            <label for="startDate" class="col-sm-4 col-form-label"><b>Start Date:</b></label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="startDate" value="{{start_date}}" {% if completed %}readonly{% endif %}>
            </div>
          </div>
          <div class="d-flex">
            <input type="checkbox" id="dateRange" class="report-submission-checkbox" onchange="dateRangeChecked(this)"
                   {% if same_dates %}checked{% endif %} {% if completed %}disabled{% endif %}>
            <label for="dateRange" id="dateRangeLabel"><small>No time range for techniques?</small></label>
          </div>
          <div id="endDateDiv" class="row" {% if same_dates %}hidden{% endif %}>
            <label for="endDate" class="col-sm-4 col-form-label"><b>End Date:</b></label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="endDate" value="{{end_date}}" {% if completed %}readonly{% endif %}>
            </div>
          </div>
          {% if not completed %}
            <input type="checkbox" id="applyToAllDates" class="report-submission-checkbox" checked>
            <label for="applyToAllDates"><small>Apply Start/End dates to all confirmed techniques?</small></label>
            <br>
            <button type="button" onclick="updateReportDates('{{title_quoted}}')" class="btn btn-primary">Update Report Dates</button>
          {% endif %}
        </form><hr>
        <form id="reportAggressorsVictimsForm">{# Report aggressors and victims #}
          <script>
            const regions = {{region_list|tojson}};
            const countries = {{country_list|tojson}};
            const countryRegions = {{country_region_list|tojson}};
          </script>
          {% with assoc_type = "aggressor" %}{% include "report-aggs-vics.html" %}{% endwith %}
          {% with assoc_type = "victim" %}{% include "report-aggs-vics.html" %}{% endwith %}
          <br>
          {% if not completed %}
            <button type="button" onclick="setReportKeywords('{{title_quoted}}')" class="btn btn-primary me-2">Set Aggressors & Victims</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#requestNewConfigInfo"
                  aria-expanded="false" aria-controls="requestNewConfigInfo">Missing/Outdated Aggressor & Victim Options?</button>
          <div class="collapse" id="requestNewConfigInfo">
            <div class="card-body">
              <ul>
                <li><b>Categories</b>: We maintain our category list within the Thread repository. For requested additions/changes,
                  <a href="https://github.com/arachne-threat-intel/thread/issues/new?labels=config+change&title=Category+Config+Change+Request"
                     target="_blank">please raise an Issue with us here</a>.
                </li>
                <li><b>Countries</b>: We use a list collated and maintained in another repository (not created by us), specifically
                  <a href="https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/slim-2/slim-2.json"
                     target="_blank">this file</a>. For country-list changes, initially, if you can see we haven't
                  updated our list from the repository we are using
                  <a href="https://github.com/arachne-threat-intel/thread/issues/new?labels=config+change&title=Country+Config+Change+Request"
                     target="_blank">please raise an Issue with us</a>. If that is not the case, please follow up with
                  the initial repository via an Issue or Pull Request with your requested additions/changes.
                </li>
                <li><b>Groups</b>: We maintain our group list via a separate repository. For requested additions/changes,
                  <a href="https://github.com/arachne-threat-intel/rosettaStone/issues/new?labels=config+change&title=Group+Config+Change+Request"
                     target="_blank">please raise an Issue with us there</a>.
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
