{% if not is_local %}{# Display fields for public/privacy confirmation #}
  {% with %}{# Keep variables set below, visible just within this scope #}
    {% if is_csv %}{# Determine an attribute suffix to distinguish when these fields are in the CSV tab or not #}
      {% set attr_suffix = "CSV" %}
      {% set plural_suffix = "(s)" %}
    {% else %}
      {% set attr_suffix = "" %}
      {% set plural_suffix = "" %}
    {% endif %}
    {# Include the switch to toggle submission privacy #}
    <div class="row">
      <div class="form-check form-switch">
        <input class="form-check-input report-submission-checkbox" type="checkbox" role="switch"
               id="reportPrivate{{attr_suffix}}" onchange="privateReportCheck(this)"
               data-paired-checkbox="#publicReportCheck{{attr_suffix}}"
               data-paired-consent-checkbox-id="userConsentCheck{{attr_suffix}}" {% if username %}checked{% endif %}>
        <label class="form-check-label" for="reportPrivate{{attr_suffix}}">
          <small>Make this report <b>private</b>. (Remain logged-in via Arachne.)</small>
        </label>
      </div>
    </div>
    {# Include the checkbox to acknowledge a public-report submission #}
    <div id="publicReportConf{{attr_suffix}}" {% if username %}hidden{% endif %}>
      {# Need to have wrapper-div as .d-flex has !important display style so will clash with hidden property #}
      <div class="d-flex">
        <input type="checkbox" id="publicReportCheck{{attr_suffix}}" class="report-submission-checkbox"
               data-parent-div="#publicReportConf{{attr_suffix}}" {% if not username %}required{% endif %}>
        <label for="publicReportCheck{{attr_suffix}}">
          <small>I confirm I am making the report{{plural_suffix}} created from this submission <b>public</b>.</small>
        </label>
      </div>
    </div>
    {# Include the checkbox to confirm user-consent #}
    <div class="d-flex">
      <input type="checkbox" id="userConsentCheck{{attr_suffix}}" class="report-submission-checkbox" required>
      <label for="userConsentCheck{{attr_suffix}}">
        <small>I consent to giving the information (in this submission) freely to Arachne Digital; I confirm that I have
          the legal right to provide this information; and I acknowledge that the information will be viewable by Arachne
          Digital and its customers.
        </small>
      </label>
    </div>
  {% endwith %}
{% endif %}
