<div class="accordion" id="submitReportAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="submitReportHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#submitReportForm" aria-expanded="false" aria-controls="submitReportForm">
        <b>Enter New Report(s)</b>
      </button>
    </h2>
    <div id="submitReportForm" class="accordion-collapse collapse" aria-labelledby="submitReportHeader"
         data-bs-parent="#submitReportAccordion">
      <div class="accordion-body">
        {# The two tabs for report submissions: URLs and CSVs #}
        <ul class="nav nav-tabs" id="submitTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="url-tab" data-bs-toggle="tab" data-bs-target="#url-div" type="button"
                    role="tab" aria-controls="url-div" aria-selected="true">URL
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="csv-tab" data-bs-toggle="tab" data-bs-target="#csv-div" type="button"
                    role="tab" aria-controls="csv-div" aria-selected="false">CSV
            </button>
          </li>
        </ul>
        {# The content underneath a selected tab; default selected tab is URL report submissions #}
        <div class="tab-content" id="submitTabForms">{# Wrapper-div to include content for all forms underneath the tabs #}
          <div class="tab-pane fade show active" id="url-div" role="tabpanel" aria-labelledby="url-tab">{# First tab: URLs #}
            {# Display some helper text before the submission form #}
            <div class="mt-3 alert alert-primary d-flex align-items-center submissionHelpAlert" role="alert">
              <i class="pe-3 fas fa-info-circle glyphicon glyphicon-info-sign"></i>
              <small>For multiple URLs, you can submit them via a CSV file.</small>
            </div>
            <form>
              <div class="row">
                <label for="url" class="col-sm-2 col-form-label">Insert URL</label>
                <div class="col-sm-10">
                  <input type="url" class="form-control" id="url" onchange="prefixHttp(this)" placeholder="Enter URL" required>
                </div>
              </div>
              <div class="row">
                <label for="title" class="col-sm-2 col-form-label">Insert Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" placeholder="Enter title" required>
                </div>
              </div>
              {% with is_csv = false %}{% include "submission-arachne-fields.html" %}{% endwith %}
              <button type="button" onclick="submit_report(this)" class="btn btn-primary" data-token-field-id="#reportToken">Submit</button>
            </form>
          </div>
          <div class="tab-pane fade" id="csv-div" role="tabpanel" aria-labelledby="csv-tab">{# Next tab: CSVs #}
            {# Display some helper text before the submission form #}
            <div class="mt-3 alert alert-primary d-flex align-items-center submissionHelpAlert" role="alert">
              <i class="pe-3 fas fa-info-circle glyphicon glyphicon-info-sign"></i>
              <small>
                Please ensure CSVs define two columns - Title and URL - and contain at least one URL:<br><br>
                "title","url"<br>"&lt;title of first URL&gt;","&lt;first URL&gt;"<br><br>For values that contain a comma
                (not commas for separating values), you are advised to use quotation marks, else these are optional.
              </small>
            </div>
            <form>
              <div>
                <a class="">{# Give random/empty class so that bootstrap's css selector a:not([class]) does not match #}
                  <i class="fas fa-paperclip" aria-hidden="true"></i>
                  <input type="file" id="csv_file" accept=".csv" required>
                </a>
              </div>
              {% with is_csv = true %}{% include "submission-arachne-fields.html" %}{% endwith %}
              <button type="button" onclick="upload_file(this)" class="btn btn-primary" data-token-field-id="#reportTokenCSV">Upload CSV File</button>
            </form>
          </div>
        </div>
        {% if queue_set %}{# Display queue-message if a queue is set #}
          <hr>
          <small>Any reports which exceed the Queue limit will be dropped.</small>
        {% endif %}
      </div>
    </div>
  </div>
</div>
